@model LearningEnglishWeb.ViewModels.Training.ChooseTranslate.ChooseTranslateQuestionViewModel


<div class="row mb-2">
    <h5 class="col text-center">Вопрос @Model.QuestionNumber </h5>
</div>

<div class="row">
    <div class="col-4">
        <h4> <span>@Model.Word</span> <button class="audio btn p-0"  data-request-url="@Url.Action("GetAudio", "Vocabulary")">  <i class="fas audio fa-play"></i> </button></h4>
        

        <img  id="wordImage" src="@Model.ImageSrc" class="w-100 mt-4 pl-0 ml-0" />
    </div>
    <div class="col-8 answerArea" id="answerRefreshArea">        
        @foreach (var trans in Model.Translations)
        {
            <button class="answerBtn btn-block m-2 btn btn-info text-left" data-request-url="@Url.Action("CheckAnswer")"> @trans</button>
        }

        <button class="skipBtn btn-block m-2 btn btn-danger text-left"  data-request-url="@Url.Action("CheckAnswer")">Не знаю</button>
    </div>
</div>

