@model IEnumerable<LearningEnglishWeb.Models.UserWord>


@if (Model.Any())
{
    <div class="mb-4 mt-4">
        <input type="checkbox" id="checkAll" />
        <span> Выбрать все слова </span>
        <button class="btn btn-sm btn-primary training-sw-btn" data-request-url="@Url.Action("Index", "Training")"> Тренировать</button>
    </div>
}

<table class="table table-hover words-table">
    <thead>
        <tr>
            <th style="width:2%"></th>
            <th class="text-center" colspan="3">Слово</th>
            <th>Транскрипция</th>
            <th>Перевод</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" />
                    <input type="hidden" value="@item.Id" name="wordId" />
                </td>
                <td  class="p-0">
                    <div class="thumbnail-wrapper">
                        <img class="img-thumbnail" src=@item.ImageSrc>
                    </div>
                </td>
                <td class="pl-1 pr-1" style="width:6%;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped @item.KnowledgeRatioClassName" role="progressbar" style="width: @item.KnowledgeRatio%" aria-valuenow="@item.KnowledgeRatio" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </td>
                <td class="pl-0">
                    <span>@item.Word</span>
                    <button class="audio btn p-0" data-request-url="@Url.Action("GetAudio", "Vocabulary")">  <i class="fa audio fa-play text-success"></i> </button>
                </td>

                <td>
                    @item.Transcription
                </td>
                <td>
                    <span>@item.Translation</span>
                    <button class="audio btn p-0 translation" data-request-url="@Url.Action("GetAudio", "Vocabulary")">  <i class="fas audio fa-play text-success"></i> </button>
                </td>
                <td class="text-right">
                    <button class="btn btn-danger btn-sm delete-button" data-request-url="@Url.Action("RemoveWord", "Vocabulary")"> удалить </button>
                </td>
            </tr>
        }
    </tbody>
</table>



