@model IEnumerable<LearningEnglishWeb.Models.Word>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transcription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="wordName">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="wordTranscription">
                @Html.DisplayFor(modelItem => item.Transcription)
            </td>
            <td class="wordTranslation">
                @Html.DisplayFor(modelItem => item.Translation)
            </td>   
            <td>
                <button class="btn btn-danger delete-button"> удалить </button>
            </td>
        </tr>
}
    </tbody>
</table>
