@model IEnumerable<LearningEnglishWeb.Models.Word>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transcription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation)
              
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="wordName">
                <span>@item.Name</span>
                <button class="audio btn p-0">  <i class="fas audio fa-play"></i> </button>
            </td>
            <td class="wordTranscription">
               @item.Transcription
            </td>
            <td class="wordTranslation">
                <span>@item.Translation</span>
                <button class="audio btn p-0 translation">  <i class="fas audio fa-play"></i> </button>
            </td>   
            <td class="text-right">
                <button class="btn btn-danger delete-button"> удалить </button>
            </td>
        </tr>
}
    </tbody>
</table>
